<ion-content [fullscreen]="true">
  <ion-card>
    <a rel="ar" id="ApplePay" href="https://gamegineerlabshelpfulfiles.s3.us-west-2.amazonaws.com/Pikachu.usdz#applePayButtonType=plain&checkoutTitle=Pikachu&checkoutSubtitle=Electric%20Mouse&price=$500.00">
      <img src="/assets/usdz/pikachu.jpg">
    </a>
    <ion-card-header>
      <ion-card-title>Pikachu</ion-card-title>
      <ion-card-subtitle>#0025</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      When it is angered, it immediately discharges the energy stored in the pouches in its cheeks... This 3D print is friendly and purchasable!
    </ion-card-content>
  </ion-card>
</ion-content>

